@import url('./home-responsiveness.css');

.home-page{
    margin: 0 auto;

    .content{
        margin-top: 40px;
        width: 100%;
        display: flex;

        .main-content{
            flex-grow: 0;
            flex-shrink: 0;

            .recents-content{
                display: flex;
            }
        }
    }
}

