.trending {

    .top {
        font-size: 0.9em;
        display: flex;

        p {
            font-weight: 500;
            margin-right: auto;
        }

        a {
            color: black;
        }
    }

    .trending-slider-container{
        position: relative;

        .slider-button {
            color: red;
            cursor: pointer;
            position: absolute;
            background-color: white;
            z-index: 4;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    
            &:active{
                background-color: rgb(223, 223, 223);
            }
        }
    
        .left-prev {
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
        
        .right-next{
            top: 50%;
            transform: translateY(-50%);
            right: 15px;    
        }
    }

    .trending-itens-list {
        scroll-behavior: smooth;
        padding-top: 20px;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        .trending-item {
            flex-shrink: 0;
            transition: 0.5s;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin-right: 20px;

            border-radius: 12px;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                transform: translateY(-5px);
            }

            &::after {
                position: absolute;
                content: '';
                transition: 0.5s;
                width: 100%;
                height: 100%;
            }

            &:hover::after {
                background-color: rgba(#000000, 0.5);
            }
        }
    }
}