.vertical-menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
    display: none;
}

.vertical-menu--open{
    display: initial;
}

.vertical-menu__content{
    position: absolute;
    background-color: #E1EDFC;
    width: 300px;
    height: 100vh;

    transition: 0.5s;
    z-index: 7;

    right: -300px;
    display: none;
}

.vertical--menu--open{
    display: initial;
    right: 0;
}

.vertical-menu__top{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.vertical-menu__links{
    display: flex;
    flex-direction: column;
}

.vertical-menu__links a{
    padding: 15px 30px;
    color: black;
}