@import url('./main-banner-responsiveness.css');

.main-banner {
    width: 100%;
    padding: 20px;
    background-image: url('../../../images/wonder-woman.jpg');

    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation-bar-links {
            a {
                margin-left: 30px;
                color: white;
                font-weight: 500;
                font-size: 1.1em;
            }

            a::after {
                content: "";
                transition: 0.5s;
                width: 0px;
                height: 2px;
                opacity: 0.3;
                right: 0;
                left: 0;
                margin: 0 auto;
                bottom: 0;
                background-color: red;
                position: absolute;
            }

            a:hover::after {
                content: "";
                opacity: 1;
                width: 100%;
                position: absolute;
            }
        }
    }

    .banner-movie-info-content {
        margin-top: 100px;
        color: white;
        
        h2{
            font-size: 2.2em;
            font-weight: 500;
        }
        
        h3{
            font-size: 1.3em;
            font-weight: 400;
        }
        
        .genres-container{
            margin-top: 8px;
            display: flex;
            
            .genre{
                font-size: 0.9em;
                font-weight: 500;
                margin-right: 10px;
            }
        }

        button{
            cursor: pointer;
            margin-top: 20px;
            border-radius: 32px;
            background:none;
            border: 2px solid blue;
            padding: 10px 30px;
            font-size: 1.3em;
            color: white;
            font-weight: 500;
            transition: 0.5s;
        }

        button:hover{
            background-color: blue;
        }
    }

}