@import url('./coming-soon-responsiveness.css');

.coming-soon {
    padding: 0px 15px;

    .top {
        font-size: 0.9em;
        display: flex;
        margin-bottom: 15px;

        p {
            font-weight: 500;
            margin-right: auto;
        }

        a {
            color: black;
        }

    }

    .coming-soon-item {
        cursor: pointer;
        background-color: white;
        display: flex;
        border-radius: 10px;
        transition: 0.5s;
        margin-bottom: 20px;
        overflow: hidden;

        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
        }

        .info-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            width: 100%;

            p{
                margin-top: 20px;
                font-size: 0.8em;
            }
            
            h4:nth-child(1){
                font-weight: 500;
            }
        }
    }

    .coming-soon-item:hover {
        -webkit-box-shadow: 0px 0px 10px 4px rgba(154, 179, 223, 0.5);
        -moz-box-shadow: 0px 0px 10px 4px rgba(154, 179, 223, 0.5);
        box-shadow: 0px 0px 10px 4px rgba(154, 179, 223, 0.5);

        transform: translateX(10px);
    }
}